<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Albert Wu
              </h1>
              <p>
                I am a Postdoctoral Research Associate at the <a href="http://www.bipedalrobotics.com/">AMBER Lab</a> of the California Institute of Technology. I am supervised by <a href="http://ames.caltech.edu/">Prof. Aaron D. Ames</a>. <strong>My research explores the intersection of mathematical structures, physics-based modeling, and machine learning to develop generalizable algorithms for real-world robotic manipulation.</strong>
              </p>
              <p>
                I received my Ph.D. from the <a href="https://www.cs.stanford.edu/">Computer Science Department</a> at <a href="https://www.stanford.edu/">Stanford University</a>. I was advised by <a href="https://profiles.stanford.edu/c-karen-liu">Prof. C. Karen Liu</a>. My thesis, "Unifying Physics and Learning for Generalizable Robotic Manipulation," is available <a href="https://searchworks.stanford.edu/view/in00001200289">here</a>.
              </p>
              <p>
                Before Stanford, I received my B.S. and M.Eng. from the <a href="https://www.eecs.mit.edu/">Electrical Engineering and Computer Science Department</a> at the <a href="https://www.mit.edu/">Massachusetts Institute of Technology</a>, where I was advised by <a href="https://groups.csail.mit.edu/locomotion/russt.html">Prof. Russ Tedrake</a>. My M.Eng. thesis is available <a href="https://dspace.mit.edu/entities/publication/2eaf1cff-0c93-49b0-bb2b-8f0c9f9552a3">here</a>. I also worked as an undergraduate researcher in <a href="https://www.media.mit.edu/people/hherr/overview/">Prof. Hugh Herr's</a> lab.
              </p>
              <p style="text-align:center">
                <a target="_blank" href="{{ site.footer-links.email }}"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/wualbert">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=xaFg_NUAAAAJ&hl=en&oi=ao">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.youtube.com/@wu.albert"> YouTube </a>
              </p>
              <p>
                <em>Last updated: 2026-07-28</em>.
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/profile.png">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}
              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.accepted %}
              Accepted to <em>{{post.accepted}}</em>
              <br>
              {% endif %}
              {% if post.presentation %}
              <strong>{{post.presentation}}</strong>
              <br>
              {% endif %}
              {% assign sep = "" %}
              {% if post.paper %}
              {{ sep }}<a href="{{post.paper}}">paper</a>{% assign sep = " / " %}
              {% endif %}
              {% if post.arxiv %}
              {{ sep }}<a href="{{post.arxiv}}">arxiv</a>{% assign sep = " / " %}
              {% endif %}
              {% if post.video %}
              {{ sep }}<a href="{{post.video}}">video</a>{% assign sep = " / " %}
              {% endif %}
              {% if post.code %}
              {{ sep }}<a href="{{post.code}}">code</a>{% assign sep = " / " %}
              {% endif %}
              {% if post.poster %}
              {{ sep }}<a href="{{post.poster}}">poster</a>{% assign sep = " / " %}
              {% endif %}
              {% if post.slides %}
              {{ sep }}<a href="{{post.slides}}">slides</a>{% assign sep = " / " %}
              {% endif %}
              {% if post.website %}
              {{ sep }}<a href="{{post.website}}">website</a>{% assign sep = " / " %}
              {% endif %}
              {% if post.youtube %}
              {{ sep }}<a href="{{post.youtube}}">youtube</a>{% assign sep = " / " %}
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Presentations</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'talk' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y-%m-%d" }}
              <br>
              {% assign sep = "" %}
              {% if post.website %}
              {{ sep }}<a href="{{post.website}}">website</a>{% assign sep = " / " %}
              {% endif %}
              {% if post.paper %}
              {{ sep }}<a href="{{post.paper}}">paper</a>{% assign sep = " / " %}
              {% endif %}
              {% if post.patent %}
              {{ sep }}<a href="{{post.patent}}">patent</a>{% assign sep = " / " %}
              {% endif %}
              {% if post.patent2 %}
              {{ sep }}<a href="{{post.patent2}}">patent #2</a>{% assign sep = " / " %}
              {% endif %}
              {% if post.patent3 %}
              {{ sep }}<a href="{{post.patent3}}">patent #3</a>{% assign sep = " / " %}
              {% endif %}
              {% if post.video %}
              {{ sep }}<a href="{{post.video}}">video</a>{% assign sep = " / " %}
              {% endif %}
              {% if post.video2 %}
              {{ sep }}<a href="{{post.video2}}">video #2</a>{% assign sep = " / " %}
              {% endif %}
              {% if post.code %}
              {{ sep }}<a href="{{post.code}}">code</a>{% assign sep = " / " %}
              {% endif %}
              {% if post.pdf %}
              {{ sep }}<a href="{{post.pdf}}">pdf</a>{% assign sep = " / " %}
              {% endif %}
              {% if post.poster %}
              {{ sep }}<a href="{{post.poster}}">poster</a>{% assign sep = " / " %}
              {% endif %}
              {% if post.slides %}
              {{ sep }}<a href="{{post.slides}}">slides</a>{% assign sep = " / " %}
              {% endif %}
              {% if post.youtube %}
              {{ sep }}<a href="{{post.youtube}}">youtube</a>{% assign sep = " / " %}
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Other Projects</h2>
              <p> These include coursework, side projects and unpublished research work. 
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat != 'research' and cat != 'talk' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m" }}

              <br>
              {% assign sep = "" %}
              {% if post.website %}
              {{ sep }}<a href="{{post.website}}">website</a>{% assign sep = " / " %}
              {% endif %}
              {% if post.paper %}
              {{ sep }}<a href="{{post.paper}}">paper</a>{% assign sep = " / " %}
              {% endif %}
              {% if post.patent %}
              {{ sep }}<a href="{{post.patent}}">patent</a>{% assign sep = " / " %}
              {% endif %}
              {% if post.patent2 %}
              {{ sep }}<a href="{{post.patent2}}">patent #2</a>{% assign sep = " / " %}
              {% endif %}
              {% if post.patent3 %}
              {{ sep }}<a href="{{post.patent3}}">patent #3</a>{% assign sep = " / " %}
              {% endif %}
              {% if post.video %}
              {{ sep }}<a href="{{post.video}}">video</a>{% assign sep = " / " %}
              {% endif %}
              {% if post.video2 %}
              {{ sep }}<a href="{{post.video2}}">video #2</a>{% assign sep = " / " %}
              {% endif %}
              {% if post.code %}
              {{ sep }}<a href="{{post.code}}">code</a>{% assign sep = " / " %}
              {% endif %}
              {% if post.pdf %}
              {{ sep }}<a href="{{post.pdf}}">pdf</a>{% assign sep = " / " %}
              {% endif %}
              {% if post.poster %}
              {{ sep }}<a href="{{post.poster}}">poster</a>{% assign sep = " / " %}
              {% endif %}
              {% if post.slides %}
              {{ sep }}<a href="{{post.slides}}">slides</a>{% assign sep = " / " %}
              {% endif %}
              {% if post.youtube %}
              {{ sep }}<a href="{{post.youtube}}">youtube</a>{% assign sep = " / " %}
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Website design and source code from <a style="font-size:small;" href="https://leonidk.com/">Leonid Keselman</a> and <a style="font-size:small;" href="https://jonbarron.info">Jon Barron</a>.
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

